@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (no data-theme or fallback) */
:root, [data-theme="light"] {
  --background: 255 255 255;
  --foreground: 23 23 23;
  --muted-foreground: 156 163 175;
}

/* Dark Mode */
[data-theme="dark"] {
  --background: 31 41 55;
  --foreground: 255 255 255;
  --muted-foreground: 107 114 128;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  
  .text-muted-foreground {
    @apply text-[rgb(var(--muted-foreground))];
  }
  
  .bg-background {
    @apply bg-[rgb(var(--background))];
  }
  
  .text-foreground {
    @apply text-[rgb(var(--foreground))];
  }
}

/* Apply variables to body */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



/* Lucide icons */
.lucide-icon {
  color: rgb(var(--foreground));
}